<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../cs/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <!-- YE LANDING PAGE KI STARTING HAI -->
    <section class="mainPage">

        {{>navbar}}


        <!-- LANDING PAGE PARAGRAPH START -->
        <p>"Education is what survives when what has been learned has been forgotten." </p>
        <!-- LANDING PAGE PARAGRAPH END -->

    </section>
    <!-- YE LANDING PAGE KI ENDING HAI -->

    <!-- ye landing page k neeche ka brief page shru hai -->
    <div class="aboutBrief">
        <!-- ye brief page k andr ka logo design hai left side ka -->
        <div class="logoBrief">
            <h3>sidhi vinayak</h3>
        </div>
        <!-- ye brief page k andr ka logo design ka end hai left side ka  -->

        <!-- ye brief page k andr ka right side ka box hai jsme dono paragraphs hai -->
        <div class="paraBrief">
            <p class="DonoPara" id="firstPara"> “Education is the most powerful weapon which you can use to change the
                world” – Nelson Mandela
            </p>
            <p class="DonoPara" id="secondPara">Here at <span>sidhi vinayak</span> ,we believe that education is the
                first step for people to gain the knowledge, critical thinking, empowerment and skills they need to make
                this world a better place. <br>
                The more you learn, the more you want to learn, the more the world becomes more interesting to you, and
                discovering it becomes more fun.
            </p>
            <!-- ye brief page k andr ka right side ka box hai jsme dono paragraphs hai -->

            <!-- ye read more waala small paragraph hai -->
            <p id="but"> <a href="#aboutid"> read more...</a></p>





        </div>


    </div>

    <!-- ye landing page k neeche ka brief page end hai -->


    {{>about}}


    {{>contact}}


    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>

</body>

</html>