<section class="aboutMain" id="aboutid">





    <!-- yaha se about page staart hai navigation bar k neeche -->

    <h2>about us</h2>
    <p id="one">providing quality education</p>

    <!-- yaha se about page k dono div hai jo bane huye hai left ar right mei -->
    <div class="aboutDetails">
        <div class="boxesTwo" id="two">
            <h3 id="heading3">WHY US?</h3>
            <p id="para3">
                Our statement “DREAM, BELIEVE, ACHIEVE” reflects our understanding and beliefs. We aim to ensure that
                the children at our school are provided with high-quality learning experiences based on a broad and
                balanced curriculum.
            </p>

            <p id="para4">
                Our institute prepares students for success in the 21st century by engaging them in rigorous and relevant
                learning opportunities that promotes academic, physical, and emotional growth.
            </p>
        </div>
        <!-- ye photo wala div hai right side wala -->
        <div class="boxesTwo" id="three">

        </div>
    </div>
</section>

<section class="description">
    <h4>our vision</h4>
    <p id="point1">Our Vision is a community ,where all students feel loved, respected and encouraged to develop to
        their fullest potential
    </p>
    <p id="point2">We believe that a happy child is a successful one. We are committed to providing a positive, safe and
        stimulating environment for students to learn, where all are valued. We intend that all students should enjoy
        their learning, achieve their potential and become independent life-long learners.
    </p>
    <p id="point3">We aim to develop well-rounded and thoughtful students prepared to cope with a changing post-modern
        and globalized world.
    </p>
</section>

<!-- teachers wla section  -->
<section class="TeacherAbout">
    <h2 id="headingTeach">our teachers</h2>
    <div class="staff">
        <div class="teachers">
            <div class="pic" id="pic1"></div>
            <h5 class="namePic">Mr. Satish kumar verma</h5>
        </div>
        <div class="teachers">
            <div class="pic" id="pic2"></div>
            <h5 class="namePic">Mrs. kiran verma</h5>
        </div>
        <div class="teachers">
            <div class="pic" id="pic3"></div>
            <h5 class="namePic">ms. sonam baisoya</h5>
        </div>
        <div class="teachers">
            <div class="pic" id="pic4"></div>
            <h5 class="namePic">mr. divyansh verma</h5>
        </div>
        <div class="teachers">
            <div class="pic" id="pic5"></div>
            <h5 class="namePic">mr. pushkar verma</h5>
        </div>
        <div class="teachers">
            <div class="pic" id="pic6"></div>
            <h5 class="namePic">mr. sarthak baisoya</h5>
        </div>
    </div>


</section>