<section class="con" id="cntctid">

    <h2>contact us</h2>
    <div class="rgstr-hdng">
        <form action="/" id="rgstr" method="post">
            <label id="name" for="fnaaaame">First Name:</label>
            <input type="text" name="fname" id="namee" placeholder="Enter your first name..">

            <label id="name" for="lnaaaame">Last Name:</label>
            <input type="text" name="lname" id="namee" placeholder="Enter your last name..">
            <br><br>
            <label id="maild" for="emaaaail">Email:</label>
            <input type="email" name="Email" id="maildd" placeholder="Enter your valid Email address..">
            <br><br>
            <label id="Nmbr" for="nuaaamber">Phone Number:</label>
            <input type="number" name="Phone" id="Nmbrr" placeholder="Enter your Phone number..">
            <br><br>
            <label id="suggestion" for="suaaaggestion">Ask your Question:</label>
            <br>
            <textarea id="suggestionn" cols="76" rows="6" name="comments" placeholder="Please feel free to ask.."></textarea>
            <br><br>
            <input type="submit" value="Submit" name="submit" id="submit">










        </form>
    </div>






















</section>