<div class="navigate">
    <div class="logo">sidhi vinayak</div>

    <ul class="links">
        <li><a href="/">home</a></li>
        <li> <a href="#aboutid">about </a></li>
        <li> <a href="#cntctid">contact us</a></li>
    </ul>

</div>






















{{!-- <div class="container">
    <div class="logo">sidhi vinayak</div>

    <div class="list">
        <ul class="links">
            <li> <a href="#">home </li>
            <li> <a href="#">about us </a></li>
            <li><a href="#">contact </a></li>

        </ul>
    </div>
</div> --}}